.App {
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.election-name{
  font-size: 1.5rem;
}
.candidate-name{
  font-size: 1.2rem;
}

.card {
  width: 60%;
  color: #282c34;
}
.btn{
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}
.admin{
  text-align: start;
}
.btn-block{
  width: 100%;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
